Important_Mails.json
{
  "name": "Important Mails",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.from.value[0].address }}|{{ $json.From }}",
                    "rightValue": "deepeshvcd6273@gmail.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "5c1e18dd-ff6e-48e4-8833-e23682359f9e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Personal"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "be1ea8dc-0c96-47f5-a90e-165747c96d66",
                    "leftValue": "={{ $json.from.value[0].address }}|{{ $json.From }}",
                    "rightValue": "placements@iiitp.ac.in",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Placement"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "27cc49e2-17db-41b9-ba20-7c8eea53bf30",
                    "leftValue": "={{ $json.Subject }}",
                    "rightValue": "SPDC",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SPDC"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        60,
        -20
      ],
      "id": "60c5fe63-bd03-4565-97ae-f3a50cfba445",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail').item.json.id }}",
        "labelIds": [
          "IMPORTANT",
          "Label_7239199462693705525"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        280,
        -220
      ],
      "id": "42dd3b92-db55-4ad8-b6e5-63074f81028b",
      "name": "Personal Mails",
      "webhookId": "a2bd0752-4770-4ea3-be39-b82c8537e5d9",
      "credentials": {
        "gmailOAuth2": {
          "id": "nkvQ93lyFbWEFUr4",
          "name": "College ID"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail').item.json.id }}",
        "labelIds": [
          "IMPORTANT",
          "Label_7269025991608826574"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        280,
        -20
      ],
      "id": "1735d40b-a97d-467f-bdf3-3cd26e16248f",
      "name": "Placement Mails",
      "webhookId": "c613b4b7-9db4-43e6-b1d1-da149e4ccf99",
      "credentials": {
        "gmailOAuth2": {
          "id": "nkvQ93lyFbWEFUr4",
          "name": "College ID"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail').item.json.id }}",
        "labelIds": [
          "Label_2860287781657948008",
          "IMPORTANT"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        280,
        180
      ],
      "id": "5d209260-17f9-46bf-955e-b1d08d150281",
      "name": "Scholarship Mails",
      "webhookId": "c613b4b7-9db4-43e6-b1d1-da149e4ccf99",
      "credentials": {
        "gmailOAuth2": {
          "id": "nkvQ93lyFbWEFUr4",
          "name": "College ID"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -340,
        -20
      ],
      "id": "bba76eee-d7aa-4997-8db3-fd3f6a388a01",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "filters": {
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -140,
        -20
      ],
      "id": "98c4f652-a081-4fc3-a7b1-4cf5fac502d3",
      "name": "Gmail",
      "webhookId": "29ddc950-0ff7-450c-84de-af3932d856ce",
      "credentials": {
        "gmailOAuth2": {
          "id": "nkvQ93lyFbWEFUr4",
          "name": "College ID"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Personal Mails",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Placement Mails",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Scholarship Mails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bebeadc4-b7df-4100-820d-37596f8a6c74",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "1k3MmcYL1OxqqyE8",
  "tags": []
}